<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <style type="text/css">
      body {
        margin: 0;
        font-family: sans-serif;
      }

      .container {
        padding: 10px;
        margin: 0 auto;
        max-width: 400px;
      }

      .list-item {
        font-size: 1.5em;
        padding: 10px;
        height: 40px;
        border: 1px solid grey;
        border-radius: 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background-color: #EEEEEE;
      }

      .list-item:hover {
        background-color: #CCCCCC;
      }

      .list-item:last-child {
        margin-bottom: 0px;
      }

      .circle {
        background-color: green;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .circle.full {
        background-color: red;
      }

      .text-center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <script>
      (function () {
        const beepSrc = 'http://soundbible.com/mp3/Electronic_Chime-KevanGC-495939803.mp3';
        const socket = io('<%= host %>');
        const maxPlayers = <%= maxPlayers %>;

        let previousData = [];

        function printData(data) {
          let output = '';

          data.forEach((item) => {
            if (item.players === null) { return; }
            output += `
            <div class="list-item">
              <span>${item.host}</span>
              <div class="circle${item.players >= maxPlayers ? ' full': ''}">
                ${item.players}
              </div>
            </div>
            `;
          });

          document.getElementById('list').innerHTML = output;
        }

        function checkData(data) {
          let shouldBell = false;

          previousData.forEach((prev, index) => {
            const next = data[index];
            if (
              prev.players === maxPlayers &&
              next.players < maxPlayers &&
              !shouldBell
            ) {
              shouldBell = true;
            }
          });

          previousData = data;

          if (shouldBell) {
            document.getElementById('audio').innerHTML = `
              <source src="${beepSrc}" type="audio/mpeg" />
            `;
            setTimeout(() => {
              document.getElementById('audio').innerHTML = '';
            }, 1000);
          }
        }

        function updateData(data) {
          printData(data);
          checkData(data);
        }

        socket.on('update', updateData);
      })()
    </script>
    <div class="container">
      <h2 class="text-center">Servers</h2>
      <div class="list" id="list"></div>
      <audio autoplay id="audio"></audio>
    </div>
  </body>
</html>